<% layout('layout') -%>
<section>
  <div class="jumbotron text-center">
    <h1 class="display-4">开源社欢迎您！</h1>
    <p class="lead">如果您想参与开源社————</p>
    <hr class="my-4" />
    <div class="row">
      <div class="col-12 col-lg-6">
        <h3 class="display-4">STEP1</h3>
        <p class="lead">
          添加我们的微信机器人<br /><span class="bg-danger text-white"
            >(否则无法进入STEP2)</span
          >
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <img
          src="https://github.com/kaiyuanshe/wechat-robot/raw/master/logo.png"
          alt="请扫描二维码添加我"
          class="img-thumbnail"
          width="200"
          height="200"
        />
      </div>
    </div>
    <hr class="my-4" />
    <div class="row">
      <div class="col-12 col-lg-6">
        <h3 class="display-4">STEP2</h3>
        <p class="lead">填写申请表格</p>
      </div>
      <div class="col-12 col-lg-6">
        <a
          class="w-50 btn btn-success btn-lg"
          href="/add_volunteer"
          role="button"
          >申请志愿者</a
        >
        <hr class="my-4" />
        <a class="w-50 btn btn-primary btn-lg" href="/add_member" role="button"
          >申请正式成员</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col"></div>
    </div>
  </div>
</section>
<h4 class="my-4 text-center">开源社现任正式成员表</h4>
<section class="table-responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">昵称</th>
        <th scope="col">工作组</th>
        <th scope="col">职位</th>
        <th scope="col">申请理由</th>
        <th scope="col">当前状态</th>
      </tr>
    </thead>
    <tbody>
      <% if (players && players.length > 0) { %> <% players.forEach((player,
      index) => { %>
      <tr>
        <th scope="row"><%= player.id %></th>
        <td><%= player.nick_name %></td>
        <td><%= player.work_group %></td>
        <td><%= player.position %></td>
        <td class="w-25">
          <p class="d-block text-justify small"><%= player.introduce %></p>
        </td>
        <% const is_passed = player.status == '已加入' ? true : false %>
        <td>
          <span
            class="badge <%= is_passed ? 'badge-success' : 'badge-danger' %>"
            ><%= player.status %></span
          >
        </td>
      </tr>
      <% }) %> <% } else { %>
      <tr>
        <td colspan="6">
          <p class="blockquote text-center mb-0">暂时没有成员</p>
        </td>
      </tr>
      <%} %>
    </tbody>
  </table>
</section>
